* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Start of the navigation section */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
}

.nav {
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    width: 60vw; 
}

.nav a:visited, a:active, a:hover, a:link {
    color: #f9faf8;
    text-decoration-line: none;
}

.navlinks {
    display: flex;
    gap: 50px;
    color: #f9faf8;
    align-items: center;
    font-weight: 300;
}

#logo {
    font-size: 24px;
}

/* End of the navigation section */

/* Start of the hero section */

.hero {
    margin-top: 100px;
    display: flex;
    justify-content:space-between;
    width: 60vw;
    margin-bottom: 100px;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 50px;
    
}

.hero-text h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}

.hero-text p {
    color: #f9faf8;
    font-size: 18cpx;
    font-weight: 300;
    margin-bottom: 50px;
}

.hero-image{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

#hero-image {
    width: 100%;
    min-width: 300px;
    height: auto;
    border-radius: 0 100px 0 100px;
}

.cta-button {
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    font-size: 24px;
}

.cta-button:hover {
    cursor: pointer;
}

/* End of the hero section */

/* Start of the team section */

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: 700;

}

.team-figures {
    display: flex;
    width: 60vw;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.team-figures figure {
    width: 150px;
    height: 250px;
    text-align: justify;
    font-weight: 300;
}

.team-figures figure img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: #3882f6 solid 2px;
    border-radius: 0px 30px 0px 30px;
}

/* End of the team section */

/* Start of the quote section */

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote-text{
    width: 60vw;
    text-align: justify;
}

.quote h2 {
    font-weight: 300;
    font-size: 36px;
    margin-top: 200px;
    text-align: justify;
}

.quote h3 {
    font-size: 30px;
    margin-top: 15px;
    text-align: end;
    margin-bottom: 200px;
}

/* End of the quote section */

/* Start of the contact section */

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9faf8;;
}

.cta-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 60vw;
    background-color: #3882f6;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    align-content: center;
}

.cta-text {
    color: #f9faf8;
    padding: 50px 150px 50px 0px;
}

.cta-text h1 {
    font-weight: 700;
}

.cta-text p {
    font-weight: 300;
    padding-top: 5px;
}

.cta-button2 {
    background-color: #3882f6;
    color: #f9faf8;
    border: solid #f9faf8 2px;
    padding: 5px 25px;
    font-size: 24px;
    border-radius: 8px;
    box-shadow: none;
}

.cta-button2:hover {
    cursor: pointer;
}

/* End of the contact section */

/* Start of the footer section */

footer {
    text-align: center;
    background-color: #1f2937;
}

footer p {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #f9faf8;
}

/* End of the footer section */