* {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

#logo {
    align-self: flex-start;
}